MSLAManagementSystem/.vs/MSLAManagementSystem/v16/.suo
MSLAManagementSystem/.vs/MSLAManagementSystem/DesignTimeBuild/.dtbcache

*.ide
*.ide
*.ide-wal
*.ide
*/**/bin/
*/**/bin/Debug
*/**/bin/Release
*/**/obj/
*/**/obj/Debug
*/**/obj/Release
*.lock
MSLAManagementSystem/MSLAManagementSystem.API/bin/Debug/netcoreapp3.1/MSLAManagementSystem.API.runtimeconfig.json
MSLAManagementSystem/MSLAManagementSystem.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
MSLAManagementSystem/MSLAManagementSystem.API/obj/Debug/netcoreapp3.1/MSLAManagementSystem.API.assets.cache
MSLAManagementSystem/MSLAManagementSystem.API/obj/Debug/netcoreapp3.1/MSLAManagementSystem.API.csproj.FileListAbsolute.txt
MSLAManagementSystem/MSLAManagementSystem.API/obj/Debug/netcoreapp3.1/MSLAManagementSystem.API.csprojAssemblyReference.cache
MSLAManagementSystem/.vs/MSLAManagementSystem/DesignTimeBuild/.dtbcache
MSLAManagementSystem/.vs/MSLAManagementSystem/v16/Server/sqlite3/storage.ide
MSLAManagementSystem/.vs/MSLAManagementSystem/v16/Server/sqlite3/storage.ide-shm
